.part1{
    background-image: url(../img/h_img\ \(copy\).jpg);
}

.text-1{
    text-align: center;
   padding: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto
}
.part2{
    text-align: center;
}

.part3{
    background-image: url(../img/s_image.jpg);
    text-align: center;
    padding: 100px;
    color: white;
}
.do{
    text-align: center;
}

.prt{
    text-align: center;
}
