.head{
    background-image: url(img/h_img\ \(copy\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.about us {
    text-align: center;
    padding: 50px;
}